<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/template"><i class="pi pi-home" style="font-size: 1.5rem"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol>
</nav>
<div class="slider">
  <button id="prev" class="btn" (click)="handleScrollPrev()">
    <i class="pi pi-angle-double-left" style="font-size: 1.5rem"></i>
  </button>
  <div class="card-content">
    <!-- Card -->
    <div class="card">
      <h4>4.5</h4>
      <i class="lar la-heart"></i>
      <div class="card-img">
        <img src="assets\MATCHDAY\ManProfile.svg"
          alt="" class="img-fluid">
      </div>
      <div class="card-text">
        <h2>Basket Ball</h2>
        <p>I show you how to make a card group easily and very functional with the use of flexbox and its magic and
          JavaScript.
        <p>
      </div>
    </div>
    <!-- Card End -->

    <!-- Card -->
    <div class="card">
      <h4>4.4</h4>
      <i class="lar la-heart"></i>
      <div class="card-img">
        <img src="assets\MATCHDAY\ManProfile.svg"
        alt="" class="img-fluid">
      </div>
      <div class="card-text">
        <h2>Volley Ball</h2>
        <p>I show you how to make a card group easily and very functional with the use of flexbox and its magic and
          JavaScript.
        <p>
      </div>
    </div>
    <!-- Card End -->

    <!-- Card -->
    <div class="card">
      <h4>4.7</h4>
      <i class="lar la-heart"></i>
      <div class="card-img">
        <img src="assets\MATCHDAY\ManProfile.svg"
          alt="" class="img-fluid">
      </div>
      <div class="card-text">
        <h2>Disco Ball</h2>
        <p>I show you how to make a card group easily and very functional with the use of flexbox and its magic and
          JavaScript.
        <p>
      </div>
    </div>
    <!-- Card End -->

    <!-- Card -->
    <div class="card">
      <h4>4.2</h4>
      <i class="lar la-heart"></i>
      <div class="card-img">
        <img src="assets\MATCHDAY\ManProfile.svg"
          alt="" class="img-fluid">
      </div>
      <div class="card-text">
        <h2>Blue Ball</h2>
        <p>I show you how to make a card group easily and very functional with the use of flexbox and its magic and
          JavaScript.
        <p>
      </div>
    </div>
    <!-- Card End -->

    <!-- Card -->
    <div class="card">
      <h4>4.1</h4>
      <i class="lar la-heart"></i>
      <div class="card-img">
        <img src="assets\MATCHDAY\ManProfile.svg"
        alt="" class="img-fluid">
      </div>
      <div class="card-text">
        <h2>Green Ball</h2>
        <p>I show you how to make a card group easily and very functional with the use of flexbox and its magic and
          JavaScript.
        <p>
      </div>
    </div>
    <!-- Card End -->

    <!-- Card -->
    <div class="card">
      <h4>4.5</h4>
      <i class="lar la-heart"></i>
      <div class="card-img">
        <img src="assets\MATCHDAY\ManProfile.svg"
          alt="" class="img-fluid">
      </div>
      <div class="card-text">
        <h2>Red Ball</h2>
        <p>I show you how to make a card group easily and very functional with the use of flexbox and its magic and
          JavaScript.
        <p>
      </div>
    </div>
    <!-- Card End -->

  </div>
  <button id="next" class="btn" (click)="handleScrollNext()">
    <i class="pi pi-angle-double-right" style="font-size: 1.5rem"></i>
  </button>
</div>
