<div *ngFor="let banner of banners">
  <img [src]="banner.image" alt="{{ banner.short_description }}" />
  <p>{{ banner.short_description }}</p>
  <!-- <button (click)="deleteBanner(banners.banner_id)">Delete Banner</button> -->
</div>
<label for="short_description">Short Description:</label>
  <input type="text" id="short_description" [(ngModel)]="bannerData.short_description" required>
  <button type="button" (click)="addBanner()">Add Banner</button>

<!-- single-banner.component.html -->
<div *ngIf="banner">
  <img [src]="getImageUrl(banner.image)" alt="{{ banner.short_description }}" />
  <p>{{ banner.short_description }}</p>
  <!-- Add other details if needed -->
</div>
